.divspenton
{
  width: 84px;
  height: 145px;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 40px;
  //transform: rotate(90deg);

}

.ponwhat{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 18px;
}
.pprice{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(16, 16, 16, 0.85);
  margin-top: -25px;
}
.spenticon
{
  width: 34px;
  height: 34px;
  margin-bottom: 20px;



}
