.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

button.dugmeReg{

  width: 366px;
  height: 48px;


  background: #5E9C60;
  border-radius: 10px;
  color:#FFFFFF;

}
.global_form{

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:50px;
  color: rgba(16, 16, 16, 0.85);


}

.inp{
  width: 100%;

}
.inputwraper{
  width: 100%;
}
.mat-display-2 p{
  //margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.imagediv{

  background: #FBFBFB;
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 415px;
  height: 150px;

}

.welcome-text
{
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 415px;
  margin-top:18px;


}

.register_login_p1
{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.85);


}

.register_login_p2
{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 5px !important;


}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-top:40px;
}


::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #5E9C60 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #5E9C60 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #5E9C60 !important;
}
::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white!important;
  border-radius: 5px!important;
  color: white !important;
}
::ng-deep.mat-form-field-flex{
  background:#FFFFFF;
}
::ng-deep {


  .mat-form-field-appearance-fill .mat-form-field-flex {
    background: #FFFFFF !important;
  }
}



input.example-right-align {
  -moz-appearance: textfield;
}

:host {
  display: flex;
  flex-direction: column;

}
.inputs{
  width: 381px;
}

button.dugmeReg{

  margin-top: 50px;
  width: 420px;
  height: 48px;


  background: #5E9C60;
  border-radius: 10px;
  color:#FFFFFF;

}





