<div>
  <div class="global_form">
    <div class="global_form_shadow">
      <div class="mat-display-2">
        <p>Log in</p>
      </div>


      <form class="example-form" [formGroup]="loginForm">

        <div class="example-container" >
          <mat-form-field appearance="fill" class="inputwraper">
            <mat-label>Enter your username</mat-label>
            <input matInput placeholder="6 character/ upercase leter/ special letter/ uniq" [formControl]="username" required formControlName="username">
            <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>

          </mat-form-field>


        </div>
        <div class="example-container">
          <mat-form-field appearance="fill" class="inputwraper">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" class="inp" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

        </div>
        <div class="example-container">
          <div>
            <button mat-flat-button class="dugmeReg" (click)="loginuser()">Log in</button>
          </div>
        </div>


      </form>
    </div>
  </div>

</div>
