.globalExpanses
{
  width: 500px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //margin-top:80px;

  margin:0 auto;
  margin-top:80px;
  font-family: Lato;
  background: #FFFFFF;
  border-radius: 20px;

}
.background{
  //background-color: rgba(0, 0, 0, 0.56);



}

.expanses
{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: rgba(16, 16, 16, 0.85);
  margin-left: -375px;
  margin-top: 5px;

}
.enterfield
{
  margin-top:30px;


}
.enterfield2
{
  width: 366px;
  margin-left: -115px;
}
.choose
{
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.85;
  margin-left: -360px;
  margin-top: 35px;
  margin-bottom: 30px;

}
button.dugmeReg{

  width: 366px;
  height: 48px;
  background: #5E9C60;
  border-radius: 10px;
  color:#FFFFFF;
  margin-left: -110px;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;

}

.dugmeCancel
{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color:#5E9C60;
  margin-top: 12px;
  margin-left: -92px;

}
.dollar{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #5E9C60;
}
