<div class="background">
<div fxLayout="column" fxLayoutAlign="space-between center" class="globalExpanses" [formGroup]="expansesForm">
  <p class="expanses">Add {{this.data.ttype}}</p>
  <div class="enterfield">
  <mat-form-field appearance="fill" class="enterfield2" >
    <mat-label>Amount</mat-label>
    <input matInput type="number" class="example-right-align" formControlName="amount">
    <span matSuffix class="dollar">$&nbsp;</span>
  </mat-form-field>
    <div class="example-form">
      <mat-form-field class="example-full-width" style="width: 366px;">
        <mat-label>Enter description</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Pizza" formControlName="description">
      </mat-form-field>

    </div>
  </div>
  <p class="choose">Choose category</p>
  <!--sekcija biranja-->

  <div style="height: 350px;overflow: auto;" class="scrollpane">
    <div *ngFor="let category of categories" fxLayout="row" fxLayoutAlign="space-between center" class="global-expanses2"
         [style.background]="expansesForm.value.transaction_type===category.id ? '#F2F9F2':'#fff'">
      <div fxLayout="row" class="icon-and-text">
        <mat-icon [svgIcon]="category.image" class="spenticon"></mat-icon>
        <div class="text">
          <p class="ponwhat1">{{category.name}}</p>
          <p class="ponwhat2">{{category.description}}</p>
        </div>
      </div>
      <!--    <mat-icon svgIcon="square" class="checkicon2" ></mat-icon>-->
      <mat-radio-button  [value]="category.id"  checked="true" formControlName="transaction_type" ngDefaultControl >
      </mat-radio-button>
    </div>

  </div>
  <!--sekcija biranja-->
  <!--sekcija dugmadi-->
  <div fxLayout="column" fxLayoutAlign="center center" class="dugmici">
    <div>
      <button type="submit"  mat-flat-button class="dugmeReg" (click)="addExpanses()" >Add</button>
    </div>
    <div>
      <button type="submit"  mat-flat-button class="dugmeCancel" (click)="onClose()">Cancel</button>
    </div>

  </div>
  <!--sekcija dugmadi-->



</div>
</div>
