.globalExpanses
{
  width: 415px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //margin-top:80px;

  margin:0 auto;
  margin-top:80px;
  font-family: Lato;
  background: #FFFFFF;
  border-radius: 20px;
  margin-left: 115px;

}
.background{
  //background-color: rgba(0, 0, 0, 0.56);



}

.expanses
{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: rgba(16, 16, 16, 0.85);
  margin-left: -375px;

  margin-top: -85px;

}
.enterfield
{
  margin-top:30px;


}
.enterfield2
{
  width: 366px;
  margin-left: -110px;
}
.choose
{
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.85;
  margin-left: -360px;
  margin-top: 35px;
  margin-bottom: 30px;

}
button.dugmeReg{

  width: 366px;
  height: 48px;
  background: #5E9C60;
  border-radius: 10px;
  color:#FFFFFF;
  margin-left: -110px;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;

}

.dugmeCancel
{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color:#5E9C60;
  margin-top: 12px;
  margin-left: -92px;

}
.dollar{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #5E9C60;
}
.checkicon{
  color:#5E9C60;
  background-color: #5E9C60;
  margin-right: 12px;
  width: 18px;
  height: 18px;

}
.checkicon2{

  margin-right: 12px;
  width: 20px;
  height: 20px;

}
.spenticon
{
  width: 34px;
  height: 34px;


}
.text{
  margin-left: 20px;

}
.global-expanses{
  width: 370px;
  margin-top: 15px;
  margin-left: -100px;
  background: rgba(127, 196, 129, 0.08);
  border-radius: 10px;
}
.global-expanses2{
  width: 370px;
  margin-top: 15px;
  margin-left: -100px;
  background: #FFFFFF;
  border-radius: 10px;
  margin-left: 10px;
}

.ponwhat1{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 0px;
  margin-top:10px;
  color: rgba(0, 0, 0, 0.85);
}
.ponwhat2{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.dugmici
{
  margin-top: 20px;

}
.icon-and-text{
  margin-top: 10px;
  margin-left: 15px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;

  margin-left:-110px;

}

::ng-deep .mat-form-field {
  .mat-input-element {
    color: rgba(0, 0, 0, 0.87);
  }
  .mat-form-field-label {
    color: rgba(0, 0, 0, 0.87);
  }
  .mat-form-field-underline {
    background-color: rgba(0, 0, 0, 0.38);
  }
  .mat-form-field-ripple {
    color: rgba(0, 0, 0, 0.87);
  }
  .mat-form-field-required-marker {
    color: rgba(0, 0, 0, 0.87);
  }

}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: #5E9C60;
  }
  .mat-form-field-ripple {
    background-color: #5E9C60;
  }
  .mat-form-field-required-marker {
    color: #5E9C60;
  }
  .mat-input-element {
    color: rgba(0, 0, 0, 0.87);
  }
}


::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #5E9C60 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #5E9C60 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #5E9C60 !important;
}
::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white!important;
  border-radius: 5px!important;
  color: white !important;
}
::ng-deep.mat-form-field-flex{
  background:#FFFFFF;
}
::ng-deep {


  .mat-form-field-appearance-fill .mat-form-field-flex {
    background: #FFFFFF !important;
  }
}



input.example-right-align {
  -moz-appearance: textfield;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inputs{
  width: 381px;
}

button.dugmeReg{

  margin-top: 50px;
  width: 386px;
  height: 48px;


  background: #5E9C60;
  border-radius: 10px;
  color:#FFFFFF;

}

.scrollpane
{
  height: 350px;
  overflow: auto;
  width: 100%;
  margin-left: -105px;
  //background-color: rgba(127, 196, 129, 0.08);

}


::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  background-color: #FFFFFF !important;

}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #5E9C60 !important;
}
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #5E9C60 !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:#5E9C60 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:#5E9C60 !important;
  background-color:#5E9C60 !important;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:#5E9C60 !important;
}

::ng-deep .mat-ripple-element{
  display: none;
}



