<div class="background">
<div fxLayout="column" fxLayoutAlign="space-between center" class="globalExpanses" [formGroup]="expansesForm">
  <p class="expanses">Add expanses</p>
  <div class="enterfield">
  <mat-form-field appearance="fill" class="enterfield2" >
    <mat-label>Amount</mat-label>
    <input matInput type="number" class="example-right-align" formControlName="amount">
    <span matSuffix class="dollar">$&nbsp;</span>
  </mat-form-field>
    <form class="example-form">
      <mat-form-field class="example-full-width" style="width: 366px;">
        <mat-label>Enter description</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Pizza" formControlName="description">
      </mat-form-field>

    </form>
  </div>
  <p class="choose">Choose category</p>
  <!--sekcija biranja-->
  <div fxLayout="row" fxLayoutAlign="space-between center" class="global-expanses">
    <div fxLayout="row" class="icon-and-text">
      <mat-icon svgIcon="groceries" class="spenticon"></mat-icon>
      <div class="text">
        <p class="ponwhat1">Eating out</p>
        <p class="ponwhat2">Restorant</p>
      </div>
    </div>
    <mat-icon svgIcon="check" class="checkicon"></mat-icon>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="global-expanses2">
    <div fxLayout="row" class="icon-and-text">
      <mat-icon svgIcon="groceries" class="spenticon"></mat-icon>
      <div class="text">
        <p class="ponwhat1">Eating out</p>
        <p class="ponwhat2">Restorant</p>
      </div>
    </div>
    <mat-icon svgIcon="square" class="checkicon2" ></mat-icon>
  </div>
  <!--sekcija biranja-->
  <!--sekcija dugmadi-->
  <div fxLayout="column" fxLayoutAlign="center center" class="dugmici">
    <div>
      <button type="submit"  mat-flat-button class="dugmeReg" (click)="addExpanses()" >Add</button>
    </div>
    <div>
      <button type="submit"  mat-flat-button class="dugmeCancel" (click)="onClose()">Cancel</button>
    </div>

  </div>
  <!--sekcija dugmadi-->



</div>
</div>
