.message-wrapper
{
  background: #FFFFFF;
  border: 1px solid #5E9C60;
  box-sizing: border-box;
  box-shadow: 0px 10px 24px -7px rgba(0, 0, 0, 0.25);
  border-radius: 10px;





}
.pm1{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #5E9C60;
  margin-top: 15px;
  margin-bottom: 12px;
  margin-left: 15px;
}

.pm2{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-left: 15px;
  color: rgba(0, 0, 0, 0.85);

}
