
<!--*ngIf="data"-->
<div *ngIf="data" fxLayout="column" fxLayoutAlign="space-between center" class="global_form">
  <div fxLayout="row" fxLayoutAlign="center center" class="navbar">
    <!--Ovoo je mininav -->

    <nav class="nav">
      <div class="container">

        <div id="mainListDiv" class="main_list">
          <ul class="navlinks">

            <li>
              <a routerLink="/login" routerLinkActive="">
              <mat-icon class="smallericon green-icon">home</mat-icon>
                home
              </a>
            </li>
            <li>
              <a routerLink="/register" routerLinkActive="">
                <mat-icon class="smallericon green-icon"svgIcon="group"></mat-icon>
                 my group
              </a>
            </li>
            <li>
              <a routerLink="/register" routerLinkActive="">
                <mat-icon class="smallericon green-icon"svgIcon="category"></mat-icon>
                category
              </a>
            </li>



          </ul>
        </div>
        <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
      </div>
    </nav>

    <!--Ovo je mini nav -->
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="global_datapicker">
    <div fxLayout="row" fxLayoutAlign="start center" >
      <div class="datapicker_month">{{months[monthflag]}}</div>
      <div class="datapicker_year">{{curyear}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" >
      <button mat-icon-button class="chevron" (click)="changeDate(false)">
        <mat-icon class="chevron">chevron_left</mat-icon>
      </button>
      <button mat-icon-button (click)="changeDate(true)">
        <mat-icon class="chevron">chevron_right</mat-icon>
      </button>
    </div>


  </div>
<!--  <div fxLayout="row" fxLayoutAlign="space-between center" class="global_datapicker" >-->
<!--    &lt;!&ndash;datapicker &ndash;&gt;-->
<!--    <div fxLayout="column" fxLayoutAlign="center center" >-->

<!--      <div class="datapicker" >-->
<!--&lt;!&ndash;        (click)="picker.open()"&ndash;&gt;-->
<!--        {{months[monthflag]}}-->
<!--&lt;!&ndash;        <mat-form-field appearance="fill" fxHide>&ndash;&gt;-->
<!--&lt;!&ndash;          <input matInput [matDatepicker]="picker">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-datepicker #picker startView="year" ></mat-datepicker>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-form-field>&ndash;&gt;-->
<!--        <div fxLayout="row" fxLayoutAlign="space-between center"  >-->
<!--        <button mat-icon-button class="chevron" (click)="changeDate(false)">-->
<!--          <mat-icon class="chevron">chevron_left</mat-icon>-->
<!--        </button>-->
<!--        <button mat-icon-button (click)="changeDate(true)">-->
<!--          <mat-icon class="chevron">chevron_right</mat-icon>-->
<!--        </button>-->
<!--        </div>-->

<!--      </div>-->
<!--      <p class="datapicker2">{{curyear}}</p>-->

<!--    </div>-->

<!--  </div>-->
  <!--datapicker-->
  <!--addtransaction-->
  <div fxLayout="column" fxLayoutAlign="space-between center" class="addtransaction" >
    <div fxLayout="row" fxLayoutAlign="space-between center" class="balance-details">
      <p class="balance" (click)="doSomething()">Balance</p>
      <p class="details" (click)="showDetails()">Details</p>
    </div>
<!--    <ng-container *ngIf="detailflag">-->
      <div fxLayout="column" fxLayoutAlign="space-between center" class="div-details" >
        <p class="p-details1">total</p>
        <p class="p-details2">${{data.balance.current_balance}}</p>
      </div>
<!--    </ng-container>-->
    <div fxLayout="row" fxLayoutAlign="space-between center" class="expanses">
      <div fxLayout="column" fxLayoutAlign="center center" class="expanses2">
        <p class="exp">Expanses</p>
        <p class="expnum">{{data.outcome_income.outcome}}$</p>
      </div>
      <button mat-icon-button (click)="onExpensesOpen()"  style="margin-right:2px">
        <mat-icon svgIcon="plus"></mat-icon>
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="income" >
      <div fxLayout="column" fxLayoutAlign="center center" class="income2" >
        <p class="inc">Income</p>
        <p class="incnum">{{data.outcome_income.income}}$</p>
      </div>
      <button mat-icon-button  style="margin-right:2px" (click)="onAddIncomeOpen()">
        <mat-icon svgIcon="plus-green" ></mat-icon>
      </button>
    </div>

  </div>

  <!--addtransaction-->
  <!--spent on-->
  <div fxLayout="column" fxLayoutAlign="center center" class="showspances" >
    <div fxLayout="row" fxLayoutAlign="space-between center" class="spenton-seeall">
      <p class="balance">Spent on</p>
      <p class="details">See all</p>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <div   fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="spenton"  *ngFor="let spent of data.order_spent">
        <!--sekcija spenton -->

        <div fxLayout="column" fxLayoutAlign="space-between center" class="divspenton" >
          <p class="ponwhat">{{spent?.transaction_type?.name}}</p>
          <p class="pprice">{{spent?.amount}}$</p>

          <mat-icon [svgIcon]="spent?.transaction_type?.image" class="spenticon"></mat-icon>
        </div>

        <!--sekcija spenton -->

      </div>
    </div>


  </div>
  <!--spent on-->

  <div  fxLayout="column" fxLayoutAlign="space-between center" class="historybox" >
    <p class="history">History</p>
    <div *ngFor="let transaction of data.transakcije" fxLayout="row" fxLayoutAlign="space-between center"  class="infoholder" >
      <div fxLayout="row" fxLayoutAlign="center center" class="date-icon">
        <div fxLayout="column" fxLayoutAlign="space-between center" >
          <p class="day">{{transaction.date.slice(0,2) }}</p>
          <p class="month"> {{transaction.date.slice(2,7) }}</p>
        </div>
        <mat-icon [svgIcon]="transaction?.transaction_type?.image +'H'" style="margin-left:15px; width:28px; margin-bottom: 7px; height: 28px"></mat-icon>
<!--        {{transaction.transaction_type?.image}}-->

      </div>
      <div fxLayout="column" fxLayoutAlign="space-between center" class="history-info" >
        <p class="historyp1">{{transaction.description}}</p>
        <p class="historyp2">{{transaction.amount+' '}}<span class="valute">USD</span></p>
      </div>


    </div>

  </div>



</div>


