<div fxLayout="row" fxLayoutAlign="space-between start" class="gn" >

  <div class="logo">
    <img src="/assets/images/appicon.svg">
  </div>
  <div class="firstrow">
  <nav class="nav">
    <div class="container">
      <div id="mainListDiv" class="main_list">
        <ul class="navlinks" *ngIf="auth.token">

          <li><a href="#">About</a></li>

<!--          <li><a routerLink="/expanses" routerLinkActive="">Expanses</a></li>-->
          <li><a routerLink="/transactions" routerLinkActive="">Transactions</a></li>
        </ul>
      </div>
      <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
    </div>
  </nav>

  </div>
  <div class="secondrow">
  <nav class="nav">
    <div class="container">
      <div id="mainListDiv2" class="main_list">
        <ul class="navlinks">
          <ng-container *ngIf="!auth.token">
            <li ><a routerLink="/login" routerLinkActive="">Log in</a></li>
            <li ><a routerLink="/register" routerLinkActive="">Register</a></li>
            <li><a routerLink="/register2" routerLinkActive="">Register2</a></li>
            <li><a routerLink="/login2" routerLinkActive="">Log in2</a></li>
          </ng-container>

          <li *ngIf="auth.token"><a (click)="auth.logout()">Log out</a></li>
        </ul>
      </div>
      <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
    </div>
  </nav>
  </div>

</div>


